.navy em {
    background-color: #1a4d4d;
    padding: 2px 4px;
    border-radius: 4px;
  }

.ayu em {
    background-color: #2d4a3e;
    padding: 2px 4px;
    border-radius: 4px;
  }

.coal em {
    background-color: #2d4a3e;
    padding: 2px 4px;
    border-radius: 4px;
  }

.light em {
    background-color: #f0f7e6;
    padding: 2px 4px;
    border-radius: 4px;
  }

.rust em {
    background-color: #f7ffe6;
    padding: 2px 4px;
    border-radius: 4px;
  }